$letter-list-color: white;
$letter-list-background-color: #3B3B3B;
$letter-list-background-color-selected: #f54997;
$letter-list-color-selected: white;
$letter-list-color-hover: black;
$letter-list-background-color-hover: white;
$letter-list-border-color: transparent;


$error-state-container-background: rgba(0, 0, 0, 0.7);
$error-state-action-color: #BDBDBD;
$error-state-message-color: white;