$letter-list-color: white;
$letter-list-background-color: #3B3B3B;
$letter-list-background-color-selected: #bf1300;
$letter-list-color-selected: white;
$letter-list-color-hover: black;
$letter-list-background-color-hover: white;
$letter-list-border-color: transparent;
