<div class="error-container">
    <div class="error-inner">
        <p class="error-message">
            {{ message }}
        </p>
        <p class="error-action">
            {{ action }}
        </p>
    </div>
</div>
